<!DOCTYPE html>
<html>
  <head>
    <title>記帳列表</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>記帳列表</h1>
    <p style="color:red">2024-01-05--買東西--支出--50元</p>
    <p style="color:green">2024-01-05--薪資--收入--55550元</p>
  </body>
</html>
